.css-16tfdgk-MuiPaper-root-MuiDialog-paper{
  text-align: center;
  width: 1500px;
  height: 370px;
}
.icons a{
  color: #FFFFFF;
}

.css-qfso29-MuiTypography-root-MuiDialogContentText-root{
  background-color: #3A68B8;
  border-radius: 10px;
  padding: 10px;
}
